
.users-table {
    text-align: center;
    margin: 16px auto;
}
.edit-comment {
    text-align: center;
    margin-top: 50px;
}
.user-panel-title{
    text-align: center;
    color: #007AFF;
    font-weight: bold;

}

